#################
## php
#################

*.tmp
*.bak
*.png
*.gif
*.jpg
*.log
*.gzip
*.z
blog/
install_tmp/
img/
.htaccess
error_log
*.swf
*.psd
*.pxm
*.csv
*.map
*.ttf
*.scss
*.otf
*.eot
*.svg
*.woff
*.icc
*.crt
*.p12
*.ser
*.json
*.
*.fdf
*.TXT
*.pub
*.rb
cache/smarty/
cache/push/
*.dat
